@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width: 900px) {

    span#burguer {
        display: none;
    }

    menu {
        display: block;
        position: relative;
    }

    menu > ul > li {
        display: inline-block;
    }
}

@media screen and (max-width: 900px) {

    menu > ul > li > a {
        background-color: var(--color3);
        border: solid 1px;
        display: flex;    
        flex-direction: column;
        padding-top: 0;
        align-items: center;
        position: absolute;
        top: 170px;
        left: -20px;
    } 
}

@media  screen and (max-width: 650px) {
    
    .carrossel-item > img {
        width: 500px;
        position: relative;
        left: 50%;
        transform: translateX( -50%);
        
    }
}

@media  screen and (max-width: 555px) {
    
    .carrossel-item > img {
        width: 400px;
        position: relative;
        left: 50%;
        transform: translateX( -50%);
        
    }
}

@media  screen and (max-width: 500px) {
    
    .carrossel-item > img {
        width: 400px;
        position: relative;
        left: 40%;
        transform: translateX( -50%);
        
    }
}

@media  screen and (max-width: 900px) {

    .comunity {
        display: flex;    
        flex-direction: column;
    }
    
}

@media  screen and (max-width: 500px) {

    .comunity > p {
        padding-top: auto;
        width: 400px;
    }
    
}

@media screen and (max-width: 410px) {
    .comunity > p {
        width: 85vw;
    }

    .comunity > h3 {
        margin-left: 20px;
    }

}

@media screen and (max-width: 1220px) {

    .container_vinhos {
        display: flex;    
        flex-direction: column;
        align-items: center;
        padding-top: 600px;
        padding-bottom: 700px;
    }
}

@media screen and (max-width: 1220px) {

    .container_vinhos > img {
        width: 400px;
        padding-bottom: 100px;
    }
}

@media screen and (min-width: 1000px) {

    .container_vinhos > img {
        width: 600px;
        height: 450px;
        padding-bottom: 100px;
    }
}

@media screen and (min-width: 1420px) {

    .container_vinhos {
      padding-bottom: 600px;

    }   

}

@media screen and (min-width: 1420px) {

    .container_vinhos > img {
       width: 600px;
       height: 450px;
       margin: auto;
       padding-top: 100px;

    }   
} 

@media screen and (max-width: 410px) {

    .container_vinhos > img { 
        width: 310px;
    }   

}

@media screen and (min-width: 1220px) {

    .cadastro > h2 {
       font-size: 30px;
       width: 600px;
       padding-bottom: 50px;
    }
}

@media screen and (min-width: 300px) {

    .cadastro > h2 { 
        width: 85vw;
        font-size: 40px;
        margin-left: 30px;
    }   

}

@media screen and (max-width: 885px) {

    .cadastro > h2 { 
        width: 85vw;
        padding-bottom: 30px;
        padding-top: 20px;
        font-size: 30px;
       
    }   

}

@media screen and (min-width: 300px) {

    #email { 
        margin-left: 30px;  
        width: 250px;   
    }   

    #submit {
        margin-left: 30px; 
    }
}

@media screen and (max-width: 630px) {

    #email {
       margin-left: 50px;
    }

    #submit {
        margin-top: 20px;
       margin-left: 50px;
    }
}

@media screen and (max-width: 500px) {

    #submit {
       padding: 10px;
       margin-top: 20px;
    }
}

@media screen and (max-width: 1220px) {

    #submit {
       padding: 10px;
       margin-top: 20px;
    }
}

@media screen and (max-width: 500px) {

    footer {
       height: 550px;
    }
}

@media screen and (max-width: 500px) {

    .col1_footer > h3 {
       font-size: 20px;
       margin-left: 30px;
    }
    .col1_footer > a {
        font-size: 17px;
        margin-left: 25px;
     }
}


@media screen and (max-width: 500px) {

    .col2_footer > h3 {
       font-size: 20px;
       margin-left: 25px;
    }

    .col2_footer > a {
        font-size: 17px;
        margin-left: 25px;
     }
}

@media screen and (max-width: 500px) {

    .col3_footer > h3 {
       font-size: 20px;
       margin-left: 20px;
    }

    .col3_footer > a {
        font-size: 17px;
        margin-left: 20px;
     }
}

@media screen and (max-width: 500px) {

    .icon > a {
       display: none;
      
    }
}

@media screen and (max-width: 400px) {

    .icon > a {
       display: none;
      
    }
}

@media screen and (max-width: 700px) {

    .icon > a {
       display: none;
      
    }
}

@media screen and (max-width: 600px) {
    .col2_footer > h3  {
        display: none;
    }

    .col2_footer > a  {
        display: none;
    }

}

@media screen and (max-width: 500px) {
    .col2_footer > h3  {
        display: none;
    }

    .col2_footer > a  {
        display: none;
    }

}

@media screen and (min-width: 330px) {
    .col3_footer > h3  {
        display: none;
    }

    .col3_footer > a  {
        display: none;
    }
}
    
