@charset "UTF-8";



@media  screen and (max-width: 900px) {

    .image-ancora {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        justify-content: space-around;
    }
    
}

@media  screen and (max-width: 600px) {

    .image-ancora > a img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        overflow: hidden; 
    
    }
    
}

@media  screen and (max-width: 600px) {

    .image-ancora {
        display: flex;    
        flex-direction: column;
    }
    
}


@media  screen and (max-width: 900px) {

    .comunity {
        display: flex;    
        flex-direction: column;
    }
    
}

@media  screen and (max-width: 500px) {

    .comunity > p {
        padding-top: auto;
        width: 300px;
    }
    
}

@media screen and (max-width: 500px) {

    .container_vinhos {
        display: flex;    
        flex-direction: column;
        padding-top: 400px;
    }
}

@media screen and (max-width: 550px) {

    .container_vinhos > img {
       width: 400px;
       margin: auto;
       padding-top: 100px;
       

}

@media screen and (max-width: 800px) {

    .container_vinhos {
        display: flex;    
        flex-direction: column;
        padding-top: 400px;
    }
}

@media screen and (max-width: 800px) {

    .container_vinhos > img {
       width: 400px;
       margin: auto;
       padding-top: 100px;
       

}