@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


:root {
    --color1: #283A2C;
    --color2: #8D876F;
    --color3: #E5E5E5;
    --font-family: 'Lobster', cursive;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, sans-serif;
}

header {
    background-color: var(--color3);
    color: var(--color2);
    width: 100%;
    height: 8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header > h1 {
    margin-left: 15%;

}

header > img {
    position: relative;
    right: 24em;
}

header > nav > a {
    color:var(--color2);
    position: relative;
    margin-right: 50px;
    right: 10em;
    text-decoration: none;
    font-weight: bold;
   
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: var(--color2);
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

nav a:hover::after {
    transform: translateY(0px);
    opacity: 1;
}

/*navegation*/

.image-ancora {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 200px ;
}

.image-ancora > a > img {
    margin-left: 40px ;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden; 
}
  
  .image-ancora img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s; 
  }
  
  .image-ancora img:hover {
    transform: scale(1.1);
   
  }
  
  .circle {
    background-color: var(--color2);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    position: relative;
    top: 30px;
  }

  .circle > img {
    width: 40px;
    height: 40px;
    margin: auto;

  }

  .list > h1 {
    color: #E5E5E5;
    position: relative;
    right: 10em;
    top: 4em;
    font-size: 40px;
  }

.list {
    background-color: var(--color2);
    width: 100%;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.list > ol, li, a {
    color: var(--color3);
    font-size: 20px;
    padding-top: 50px;
    text-decoration: none;
}

.list {
    overflow: hidden; 
}
  
.list {
    width: 100%;
    height: 650px;
    transition: transform 0.5s; 
  }
  
  .list li:hover {
    transform: scale(1.1);
   
  }
  
/*main*/

.comunity-partiner{
    background-color: #283A2C;
    display: grid;
    padding-top: 200px;
    height: 900px;
}

.comunity-partiner > p {
    color: var(--color2);
    width: 450px;
    text-align: justify;
    font-size: 20px;
    margin: auto;
    position: relative;
    top: -40em;
    left: 25%;
}

#vinicula {
    margin-left: 10%;
    width: 700px;
}

#colhedores {
    width: 500px;
    margin-left: 30%;
}
#colheitadeira {
    width: 500px;
    position: relative;
    left: 250px;
    top: -150px;
}

.container {
    position: relative;
    width: 300px; 
    height: 200px;
    margin-top: 250px;
  }
  
  #rose {
    width: 600px;
    height: 500px;
    margin-left: 15em;
  }
  
  .texto-oculto {
    position: absolute;
    top: 0;
    left: 12em;
    width: 600px;
    height: 500px;
    font-size: 20px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease; 
  }
  
  .container:hover .texto-oculto {
    opacity: 1;
  }
  
  .container2 {
    position: relative;
    width: 300px; 
    height: 200px; 
    top: -12.5em;
  }
  
  #rose2 {
    width: 600px;
    height: 500px;
    margin-left: 65em;

  }
  
  .texto-oculto2 {
    position: absolute;
    top: -0.0em;
    left: 52em;
    width: 600px;
    height: 500px;
    font-size: 20px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease; 
  }
  
  .container2:hover .texto-oculto2 {
    opacity: 1;
  }

  .container3 {
    position: relative;
    width: 600px; 
    height: 500px; 
    top: 20em;
    left: 15em;
  }
  
  #amarelo {
    width: 100%;
    height: 100%;
  }
  
  .texto-oculto3 {
    position: absolute;
    top: 0.0em;
    left: 0em;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease; 
  }
  
  .container3:hover .texto-oculto3 {
    opacity: 1;
  }
  

  .container4 {
    position: relative;
    width: 300px; 
    height: 200px; 
    top: -11.5em;
  }
  
  #amareloduplo {
    width: 600px;
    height: 500px;
    margin-left: 65em;

  }
  
  .texto-oculto4 {
    position: absolute;
    top: -0.0em;
    left: 52em;
    width: 600px;
    height: 500px;
    font-size: 20px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease; 
  }
  
  .container4:hover .texto-oculto4 {
    opacity: 1;
  }